<div class="col-md-4 col-md-offset-4" >
    <form action="">
<div class="form-group">
    <label for="">Gadget Name</label>
<input type="text" name="name" [(ngModel)]="gadgets.name" class="form-group">

</div>
<div class="form-group">
    <label for="">Gadget Type</label>
<input type="text" name="type" [(ngModel)]="gadgets.type" class="form-group">

</div>
<div class="form-group">
    <label for="">Gadget Colour</label>
<input type="text" name="colour" [(ngModel)]="gadgets.colour" class="form-group">

</div>
<div class="form-group">
    <label for="">Gadget Cost</label>
<input type="text" name="cost" [(ngModel)]="gadgets.cost" class="form-group">

</div>
<div class="form-group">
    <label for="">Gadget Poster Url</label>
<input type="text" name="poster" [(ngModel)]="gadgets.poster" class="form-group">

</div>
<div class="form-group">
    <label for="">Gadget Description</label>
<input type="text" name="description" [(ngModel)]="gadgets.description" class="form-group">

</div>
<button (click)="save()" class="btn btn-success" >Save</button> &nbsp;
<button (click)="cancel()" class="btn btn-danger">Cancel</button>
    </form>
</div>
