
<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <a class="navbar-brand" href="#">Music Store</a>
  <button (click)="toggleNavbar()" class="navbar-toggler d-lg-none" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

  <div class="collapse navbar-collapse show" [ngClass]="{ 'show': navbarOpen }"id="navbarSupportedContent" >
    <ul class="navbar-nav navbar-nav-right mr-auto"(click)="toggleNavbar()">
      <li class="nav-item active">
        <a class="nav-link" routerLink="/">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/gadgets">Music Gadgets</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/about">About Us</a>
      </li>
     
      
    </ul>
    
    <ul class="navbar-nav navbar-nav-left " (click)="toggleNavbar()">
        <li class="nav-item active" *ngIf="isLoggedIn()">
            <a class="nav-link" (click)="logOut()">logout <span class="sr-only">(current)</span></a>
          </li>
      <li class="nav-item active"*ngIf="!isLoggedIn()">
        <a class="nav-link" routerLink="/login">Login <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/register">Register</a>
      </li>
     
     
    </ul>
  </div>
</nav>
<router-outlet></router-outlet>